@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: rgb(146, 77, 143);
  /*background-image: radial-gradient(circle farthest-corner at center, rgb(1, 34, 23) 25%, rgba(3, 7, 13, 1) 50%, rgba(13, 5, 8, 1) 75%, rgba(11, 6, 0, 1) 100%);*/
  background-color: #463750;
}

label {
  color:  rgb(146, 77, 143);
}

main {
  padding: 2rem;
  margin: auto;
  max-width: 1200px; 
}

form {
  display: inline-block; 
}

.centered {
  text-align: center;
}

.main-header {
  width: 100%;
  height: 4rem; 
  background-color: #9b536b;;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: #000906;
  font-weight: bold;
  padding: 0.5rem; 
  border-radius: 4px; 
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #f0cf61;

font-weight: bold;}


#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: rgb(127, 187, 255)
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: #82bdb3;
  border: 1px solid rgb(85, 60, 13);
  border-radius: 16px;
  padding: 15px;
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
  border-radius: 16px;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem; 
  text-decoration: none;
  font: inherit;
  border: 1px solid #47370a;
  color: rgb(108, 167, 214);
  font-weight: bold;
  background: rgb(153, 61, 84);
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.btn:hover,
.btn:active {
  background-color: rgb(155, 47, 197);
  color: #330000;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}